* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: Poppins;       
}

nav {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding-left: 40px;
    padding: 20px 40px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    height:50px;
    margin: 0;
    padding: 0;
    max-width: 150px;
}

.hero-section{
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.hero-photo-grid {
    width: 100%;
    max-width: 900px;
    align-self: center;
    padding-bottom: 30px;

}

.card-card {
    width: 175px;
    font-size: 12px;
}

.card-img {
    width: 100%;
    border-radius: 9px;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    width: 15px;
    height: 15px;
}

.card-gray {
    color: #918E9B;
}